###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env 
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
.phpunit.cache/
clover.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/mazer-main/
/public/coverage/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.vscode