{% block data_table %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if page.title is defined %}{{ page.title }}{% endif %}</h5>
        </div>
        <div class="card-body">
            <div 
                data-table="true" 
                data-table-entity="{{ page.entityName }}" 
                data-table-page="{{ page.page }}"
                data-table-limit="{{ context.currentUser.rowLimit }}"
                class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
            >

                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                        <select class="dataTable-selector form-select">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                        <label> entries per page</label>
                    </div>

                </div>

                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table">
                        {% include 'partials/data-table-header.html.twig' with { 'columns': tableColumns } %}
                        <tbody></tbody>
                    </table>
                </div>

                <div class="dataTable-bottom">
                    <div class="dataTable-info">Showing 1 to 5 of 26 entries</div>
                    <nav class="dataTable-pagination">
                        <ul class="dataTable-pagination-list pagination pagination-primary">
                            <li class="active page-item"><a href="#" data-page="1" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" data-page="2" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" data-page="3" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" data-page="4" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" data-page="5" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" data-page="6" class="page-link">6</a></li>
                            <li class="pager page-item"><a href="#" data-page="2" class="page-link">›</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

</section>

{% endblock %}
