{% block footer %}
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>orcano monitoring framework</p>
        </div>
        <div class="float-end">
            <p>Made with <span class="text-danger"><i class="bi bi-hearts"></i></span> by the <a href="https://github.com/maxs94/orcano">orcano team</a></p>
        </div>
    </div>
</footer>
{% endblock %}
