{% block spinner %}
<button class="btn btn-secondary d-none" type="button" disabled="">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">{{ 'label.loading'|trans }}</span>
</button>
{% endblock %}
