{% block spinner %}
<div id="spinner" class="htmx-indicator">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">{{ 'label.loading'|trans }}</span>
</div>
{% endblock %}
