#topbar-spinner {
    #spinner {
        margin-right: 10px;
        margin-top: 8px;
    }
}

 htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request {
    &.htmx-indicator,
    .htmx-indicator {
        opacity: 1;
    }
}
