[data-bs-theme=dark] {
    --bs-heading-color: #e6d5ac;
    --bs-secondary-color: #ebb22d;

    --o-sidebar-bg-color: #1c1d1f;
    --o-sidebar-link-color: #858585;
    --o-sidebar-icon-color: #fdaf00;
    
    --o-card-header-bg-color: #3c3837;
    --o-card-body-bg-color: #3c3837;

    --o-pagination-bg: #3a3a3a;
    --o-pagination-border-color: #4f4f4f;

    --o-table-text-color: #b5b5b5;
    --o-table-heading-color: #e6d5ac;
    --o-table-border-color: #544e40;

    --o-topbar-bg-color: #3c3837;

    --o-form-control-bg-color: #2c2a29;
    --o-form-control-border-color: #474747;
}

