{% block debug %}
<div id="debug-footer" class="card">
    <div class="card-header">
        <h4 class="card-title">Debug</h4>
    </div>
    <div class="card-body">
       {{ dump() }}
    </div>
</div>
{% endblock %}
